
.header-section {
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
  position: relative;
}

.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
}

.header-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.header-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.cta-form {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Ensures both sections have the same height */
  padding: 2rem;
}

.form-section {
  flex: 1;
  background-color: #D0DDD0;
  padding: 2rem;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour-image {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cta-form input,
.cta-form textarea,
.cta-form select,
.cta-form button {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.cta-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#description {
  width: 100%;
  height: auto;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.cta-form button:hover {
  background-color: #0056b3;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .cta-form {
    flex-direction: column;
    padding: 1rem;
  }

  .form-section,
  .image-section {
    max-width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  .form-section {
    padding: 1.5rem;
  }

  .form-row {
    flex-direction: column;
  }
}

/* Animations */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.features-section {
  
  padding: 2rem;
  background-color: #fff;
  text-align: center;
}
.features-section h2{
  padding: 2rem;
}
.features-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.feature {
  background-color: #D0DDD0;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s;
}
.feature:hover {
  border: 1px solid black;
  transform: scale(1.05);
}