.main-container {
  display: flex;
  width: 100%;
  font-family: "Arial", sans-serif;
}

.sidebar {
  background: #2c3e50;
  color: white;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 80px;
  transition: width 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sidebar:hover {
  width: 200px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.sidebar:hover .logo {
  /* display: block; */
  opacity: 1;
}

.bars {
  cursor: pointer;
  font-size: 20px;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  background-color: #34495e;
  border-radius: 4px;
  margin: 0 10px;
}

.search_icon {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  margin-left: 10px;
  font-size: 14px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.sidebar:hover .search input {
  width: 140px;
}

.routes {
  flex-grow: 1;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  transition: background 0.3s, padding-left 0.3s;
  margin: 5px 10px;
}

.link:hover {
  background: #1abc9c;
  /* padding-left: 20px; */
}

.link .icon {
  font-size: 18px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.link_text {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.sidebar:hover .link_text {
  display: inline-block;
  opacity: 1;
}

.active {
  background: #16a085;
  font-weight: bold;
}

.menu {
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_container {
  padding-left: 30px;
}
